<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo aplicaciones y sitios web para personas</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologías y creando aplicaciones para ponerme a prueba.
                Esta web la contruí desde cero con Python y Flask! Y quiero conocer más aún de este mundo.
                </p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar cuando quieras!</h1>
                <p>Tan solo envíame un correo <a class="orange" href="#contacto">pinchando aquí</a></p>
            </div>
        </div>
    </div>
</div>